:root {
  --black: #000000;
  --white: #ffffff;
  --green: #61ff41;
  --darkgreen: #193f10;
  --red: #ff6868;
  --yellow: #fdf46c;
  --background: #333333;
  --shadow: #666666;
}

#page-container {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--background);
  box-shadow: 0 0 10px var(--shadow);
}

#header,
#footer,
#todo-list {
  padding: 10px;
}

#header {
  color: var(--red);
  font-family: "Rubik Dirt", cursive;
  font-size: 30px;
  text-transform: uppercase;
}

#footer img {
  width: 120px;
}

#todo-list {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

#add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-todo input {
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
}

#add-todo input:focus {
  outline: none;
}

#add-todo button {
  padding: 10px;
  background: var(--green);
  border-radius: 5px;
  border: 1px solid var(--black);
  cursor: pointer;
}

#add-todo button:hover {
  color: var(--white);
  background: var(--darkgreen);
  border: 1px solid var(--white);
}

.todo-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-actions {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-icon {
  margin: 0 3px;
  cursor: pointer;
}

.todo-edit {
  color: var(--yellow);
}

.todo-save {
  color: var(--green);
}

.todo-delete {
  color: var(--red);
}

.todo-input {
  padding: 5px;
  background: transparent;
  border: none;
  color: var(--white);
  font-weight: bold;
}

.checked {
  color: var(--green);
  text-decoration: line-through;
}

@media (min-width: 700px) {
  #page-container {
    width: 600px;
  }

  #header {
    font-size: 60px;
  }

  #footer img {
    width: 200px;
  }

  .todo-actions {
    font-size: 20px;
  }

  .todo-icon {
    margin: 0 5px;
    cursor: pointer;
  }
}
